<!--
    File name:project.ejs
    Student Name: Pak Hin Wong
    ID: 301224021
    Date: June 08, 2023
-->
<%- include ('partials/header.ejs') %>
<%- include ('partials/main_nav.ejs') %>

<main class=”container”>
    <div class=”jumbotron”>
        <style>
            div {
              display: flex;
              flex-direction: column;
              text-align: center;
              margin: 0;
              padding: 0;
            }
          </style>
        <h1 class=”display-4”>Welcome to <%= title %> page</h1>
        <div id="projectdiv1" class="projectdiv1">
        <h5>
            Project 1 - Website for a real estate agent
        </h5>
        <img src="/img/project1.png" class="project1" alt="project1">
        <td>
            <li>- Description -</li>
            <p>This is my final project which make a website for a local real estate agent to develop his public website.<br>
               People can visit the website to check the reviews, the available properties<br>
               and the contact information for the agent.
            </p>
        </td>
        </div>
        <h5>
            Project 2 - Express Portfolio Site
        </h5>
        <img src="/img/project2.png" alt="project2">
        <li>- Description -</li>
        <td>
        <p>
            My role in the Express Portfolio Site is to provide guidance and assistance in developing the site<br>
            using ExpressJS and NodeJS, along with implementing the EJS templating engine and Express routes.<br>
            The outcome of the Express Portfolio Site is a functional portfolio website built with ExpressJS and NodeJS.<br>
            The site includes multiple view templates, such as the Home Page and Contact Me page, which are rendered using the EJS templating engine.<br>
            Express routes have been implemented for each page of the site, allowing for proper navigation and rendering of the corresponding views.
        </p>
        </td>
        <h5>
            Project 3 -  Bug smasher
        </h5>
        <img src="/img/project3.png" alt="project">
        <td>
            <li>- Description -</li>
            <p>
                My role in the Bug Smasher project is to assist and provide guidance in developing the application.<br>
                The Bug Smasher is a game or application aimed at simulating the experience of smashing bugs on a digital platform.<br>
                The outcome of the Bug Smasher project is a functional and interactive game/application that allows users to "smash" bugs using various actions or controls.<br>
                The application may include features such as bug spawning, time limits, scoring system, power-ups, and different levels of difficulty.<br>
                The specific implementation and features can vary depending on the project requirements.
            </p>
        </td>
    </div>
</main>

<%- include ('partials/bottom_nav.ejs') %>
<%- include ('partials/footer.ejs') %>
